/* ------------------- Section OnE --------------- */
.sectionOne {
  position: relative;
  height: 100vh;

  background-image: url(assets/shepherd-dog-4357790.jpg);
  background-position: top;
  background-size: cover;

  background-color: antiquewhite;
}

.heroSection {
  position: absolute;
  bottom: 2rem;
  left: 150px;
  z-index: 100;
}
.heroSection p {
  line-height: 1.4rem;
  margin-bottom: 2rem;
  color: white;
  font-size: 20px;
}
.heroSection button {
  padding: 0.7rem 1rem;
  background-color: black;
  color: white;
  border: none;
}

/* ------------------- Section TWo --------------- */

.sectionTwo {
  display: flex;
  align-items: center;
  background-color: antiquewhite;
  justify-content: space-between;

  padding-block: 50px;
  padding-inline: 150px;
}

.Two-firstDiv p {
  margin-top: 5px;
  margin-bottom: 30px;
}

.Two-firstDiv form {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.Two-firstDiv form input {
  margin: 4px 0 20px 0;
  font-size: 20px;
}

.Two-secondDiv {
  background-image: url(assets/mateusz-wysocki-b97NoVaAICA-unsplash.jpg);
  background-position: center;
  background-size: cover;

  width: 30%;
  height: 350px;
  border-radius: 30px;
  background-color: black;
}

.Two-firstDiv form .formButton {
  display: flex;
  justify-content: right;
}

.formButton .formButtonOne {
  padding: 5px 14px;

  background-color: none;
  border-color: black;
  border-style: solid;
  margin-right: 10px;
}
.formButton .formButtonTwo {
  padding: 5px 14px;
  border-style: solid;
  background-color: red;
  color: white;
}

/* ------------------- Section Three --------------- */

.sectionThree {
  background-color: antiquewhite;
  height: 90vh;

  background-image: url(assets/madeline-bowen-uhKXeu2TWE0-unsplash.jpg);
  background-position: center;
  background-size: cover;

  position: relative;
}

.sectionThree div {
  position: absolute;
  left: 150px;
  bottom: 30px;
  color: white;
}
.sectionThree div p {
  width: 80%;
}
.sectionThree div button {
  margin-top: 20px;
}

/* ------------------- Section Four --------------- */

.sectionFour {
  text-align: center;
  padding-inline: 150px;
  padding-block: 50px;
  background-color: antiquewhite;
}
.sectionFour h1 {
  font-size: 25px;
}
.sectionFour .imageDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 40px 0 35px 0;
}
.sectionFour div img {
  width: 40%;
  height: 400px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.sectionFour .pagDiv {
  display: flex;
  justify-content: center;

  margin-block: 25px;
}
.sectionFour div p {
  width: 70%;
}

/* ------------------- Section Five --------------- */

.sectionFive {
  background-color: antiquewhite;
  padding-block: 50px;
  padding-inline: 150px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sectionFive .imageDiv {
  width: 300px;
  height: 400px;
}
.sectionFive .imageDiv img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: right;
}

.sectionFive .pagDiv {
  width: 40%;
}
.sectionFive .pagDiv p {
  width: 100%;
  margin-block: 20px;
}

/* ------------------- Section Six --------------- */

.sectionSix {
  background-color: antiquewhite;
  text-align: center;
  padding-inline: 150px;
  padding-block: 50px;
}

.sectionSix-three-box {
  display: flex;
  justify-content: space-between;

  margin-top: 35px;
}
.sectionSix-three-box .feaOne,
.feaTwo,
.feaThree {
  border: 1px solid black;
  width: 300px;
}
.sectionSix-three-box div img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}
.sectionSix-three-box div .feaPagDiv {
  text-align: left;
  padding: 10px 14px;
}
.sectionSix-three-box div .feaPagDiv p {
  margin-block: 15px;
  font-size: 12px;
}
.sectionSix-three-box div .feaPagDiv a {
  color: red;
}

/* ------------------- Section Seven --------------- */

.sectionSeven {
  background-color: antiquewhite;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-block: 50px;
  padding-inline: 150px;
}

.sectionSeven img {
  width: 300px;
  height: 350px;
  object-fit: cover;
  object-position: left;
  border-radius: 10px;
}
.sectionSeven div {
  width: 30%;
}
.sectionSeven div p {
  margin-block: 18px;
}

/* ------------------- Section Eight --------------- */

.sectionEight {
  background-color: antiquewhite;
  padding-block: 50px;
  padding-inline: 150px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sectionEight img {
  width: 300px;
  height: 350px;
  object-fit: cover;
  object-position: left;
  border-radius: 10px;
}
.sectionEight div {
  width: 30%;
}
.sectionEight div h1 {
  margin-bottom: 25px;
}
.sectionEight div p {
  margin-block: 10px 18px;
}
